{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welocme to findLogic.com</title>
    {% include 'linkFiles.html' %}
    {% block javascript %}
    {% endblock javascript %}
</head>
<body>

<!-- This demo uses float grid but you can use flex grid too -->
<div class="top-bar my-top-bar">
    <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            <li><a href="{% url 'home-page' %}">Pickmyproject</a></li>
            <li><a href="{% url 'articles-list-page' %}">SEE ARTICLES</a></li>
{#            <li><a href="{% url 'search-projects' %}">SEARCH PROJECTS</a></li>#}
{#            <li>#}
{#                <a href="#">CSE/IT PROJECTS</a>#}
{#                <ul class="menu vertical">#}
{#                    <li>#}
{#                        <a href="#">B.tech Projects</a>#}
{#                        <ul class="menu">#}
{#                            <li><a href="#">Java projects</a></li>#}
{#                            <li><a href="#">M.tech projects</a></li>#}
{#                            <li><a href="#">Python projects</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">M.tech projects</a>#}
{#                        <ul class="menu">#}
{#                            <li><a href="#">Java projects</a></li>#}
{#                            <li><a href="#">M.tech projects</a></li>#}
{#                            <li><a href="#">Python projects</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Other projects</a>#}
{#                        <ul class="menu">#}
{#                            <li><a href="#">JavaScript Projects</a></li>#}
{#                            <li><a href="#">Java Springs Projects</a></li>#}
{#                            <li><a href="#">Django Projects</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
            <li><a href="{% url 'new-project-idea' %}">NEW PROJECT IDEA</a></li>
            <li><a href="{% url 'post-article' %}">WRITE ARTICLE</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            {% if request.user.email %}
                <li>
                    <a href="#">Welcome,{{ request.user.username }}</a>
                    <ul class="menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="{% url 'dash-board' %}">My Dashboard</a></li>
                        <li><a href="{% url 'log-out' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a class="button small header-login-button" data-open="loginModalForm">LOGIN</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% block main_content %}
{% endblock main_content %}

</body>
</html>