<div class="reveal" id="loginModalForm" data-reveal>
    <h3 class="text-center get-title-font" style="color: #f44336!important;text-transform: capitalize"><b>welcome to pickMyproject</b></h3>
    <div class="row">
        <div class="large-6 small-12 columns">
            <fieldset class="fieldset">
                <legend>SIGN-IN</legend>
                <label>Email-id
                    <input type="email" id="user-login-email" placeholder="your email here" aria-describedby="passwordHelpText">
                </label>
                <label>Password
                    <input type="password" id="user-login-password" placeholder="enter password" aria-describedby="passwordHelpText">
                </label>
                <div class="text-center">
                    <a style="font-size: 13px;" class="">forgot password?</a>
                </div>
                <div class="text-center">
                    <a class="button small user-login">LOGIN</a>
                </div>
                <hr>
                <div>
                    <p class="text-center">(OR USE)</p>
                    <ul class="menu">
                        <li><a href="#" style="font-size: 45px;color: #3a5795"><i class="fi-social-facebook"></i></a></li>
                        <li><a href="#" style="font-size: 45px;color: #b63f2f;"><i class="fi-social-google-plus"></i></a></li>
                        <li><a href="#" style="font-size: 45px;"><i class="fi-social-twitter"></i></a></li>
                    </ul>
                </div>
            </fieldset>
        </div>
        <div class="large-6 small-12 columns">
            <fieldset class="fieldset">
                <legend>REGISTER</legend>
                <label>Name
                    <input type="text" id="userName" placeholder="enter name" aria-describedby="passwordHelpText">
                </label>
                <label>mobile
                    <input type="number" id="mobileNumber" placeholder="enter mobile number" aria-describedby="passwordHelpText">
                </label>
                <label>Email-id
                    <input type="email" id="emailId" placeholder="your email here" aria-describedby="passwordHelpText">
                </label>
                <label>Password
                    <input type="password" id="password" placeholder="enter password" aria-describedby="passwordHelpText">
                </label>
                <div class="text-center">
                    <input id="isSubscribed" type="checkbox"><label for="checkbox1" style="font-size: 13px;">Subscribe to news letter</label>
                </div>
                <div class="text-center">
                    <a class="button small register-directly">REGISTER</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="reveal" id="articleSuccessModal" data-reveal>
    <div class="row set-height">
        <div class="large-10 small-12 columns large-centered">
            <i class="fa-save"></i>
            <h4 class="get-title-font">Your article is successfully submitted</h4>
            <div>
                <a class="btn-primary button small align-center" href="{% url 'dash-board' %}?page=article-requests">See article status</a>
                <a class="btn-primary button small align-center" href="{% url 'post-article' %}">Write another article</a>
            </div>
        </div>
    </div>
</div>

<div class="reveal tiny" id="tagRemovalModal" data-reveal>
    <div class="row set-height">
        <div class="large-10 small-12 columns large-centered">
            <i class="fa-save"></i>
            <h6 class="get-title-font">Do you want to remove this tag ??</h6>
            <div>
                <a class="small align-center">No</a>
                <a class="small align-center delete-tag">Proceed</a>
            </div>
        </div>
    </div>
</div>

<div class="reveal tiny" id="categoryRemovalModal" data-reveal>
    <div class="row set-height">
        <div class="large-10 small-12 columns large-centered">
            <i class="fa-save"></i>
            <h6 class="get-title-font">Do you want to remove this category ??</h6>
            <div>
                <a class="small align-center">No</a>
                <a class="small align-center delete-category">Proceed</a>
            </div>
        </div>
    </div>
</div>

