{% extends 'baseTemplate.html' %}
{% block main_content %}
    <div class="row">
        <div class="large-2 small-2 columns">
            <table>
                <tbody>
                <tr>
                    <th>
                        Top Articles
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-8 small-8 columns">
            {% for each_article in allArticles %}
                <div class="row">
                    <div class="large-12 small-12 columns">
                        <h3 class="get-title-font">
                            {{ each_article.title }}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 small-12 columns">
                        <p><b>Explanation:</b></p>
                        <p class="large-text-justify">{{ each_article.content }}</p>
                    </div>
                </div>
                {% if each_article.links %}

                {% endif %}
                <div class="row">

                </div>
            {% endfor %}
        </div>
        <div class="large-2 small-2 columns">
            <table>
                <tbody>
                <tr>
                    <th>
                        Top Tags
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock main_content %}