{% extends "baseTemplate.html" %}

{% block main_content %}
    <div class="">
        <div class="row">
            <div class="large-2 small-2 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Top Articles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each_article in top_articles %}
                        <tr>
                            <td><a><u>{{ each_article.title }}</u></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="large-8 small-8 columns">
                {% for article in articles_list %}
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <div class="callout secondary">
                                <h5><a href="{% url 'article-page' %}?article-id={{ article.id }}" target="_blank">{{ article.title }}</a></h5>
                                {% if article.subTitle and article.subTitle != "None" %}
                                <p>
                                    {{ article.subTitle }}<a href="{% url 'article-page' %}?article-id={{ article.id }}" target="_blank">Read More..</a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="large-2 small-2 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Top Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each_tag in top_tags %}
                        <tr>
                            <td><a><u>{{ each_tag.tagName }}</u></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock main_content %}