{% extends 'baseTemplate.html' %}
{% load static %}
{% block main_content %}
    <div class="row">
        <div class="large-10 small-12 columns large-centered">
            <div class="text-right">
                <a href="{% url 'articles-list-page' %}"><< Back to articles page</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-2 small-2 columns">
            <table>
                <tbody>
                <tr>
                    <th>
                        Top Articles
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-8 small-8 columns">
            {% for each_article in allArticles %}
                <div class="row">
                    <div class="lare-2 small-2 columns">
                        <table style="border: 1px dashed silver">
                            <thead>
                            <tr>
                                <th>VOTES</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center"><h1>
                                    {% if each_article.votesData.totalVotes %}
                                        {{ each_article.votesData.totalVotes }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </h1></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="large-10 small-10 columns">
                    {% if isSuperUser and each_article.isArticleRequested %}
                        <input type="text" id="articleId" value="{{ each_article.articleData.title }}">
                    {% else %}
                        <h1 class="article-title">
                            {{ each_article.articleData.title }}
                        </h1>
                    {% endif %}
                        {% if each_article.articleData.subTitle %}
                            {% if isSuperUser and each_article.isArticleRequested %}
                                <input type="text" id="articleSubtitle" value="{{ each_article.articleData.subTitle }}">
                            {% else %}
                                <h2 class="article-sub-title">
                                    {{ each_article.articleData.subTitle }}
                                </h2>
                            {% endif %}
                        {% endif %}
                        <hr>
                        {% if each_article.categories %}
                            <div>
                                <span>Categories : </span>
                                {% for each_category in each_article.categories %}
                                    <span class="label primary">{{ each_category }}</span>
                                {% endfor %}
                            </div>
                            <hr>
                        {% endif %}
                        {% if each_article.tags %}
                            <div>
                                <span>Tags : </span>
                                {% for each_tag in each_article.tags %}
                                    <span class="label secondary">{{ each_tag }}</span>
                                {% endfor %}
                            </div>
                            <hr>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 small-12 columns">
                        <p><b>Explanation:</b></p>
                        {{ each_article.articleData.content|safe }}
                    </div>
                </div>
                {% if each_article.links %}
                    <div class="row">
                        <p><b>External links :</b></p>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            {% for each_link in each_article.links %}
                                <p>{{ forloop.counter }} : {{ each_link.linkName }}</p>
                                <a href="{{ each_link.link }}" target="_blank">{{ each_link.link }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if each_article.articleData.codePart and each_article.articleData.codePart != "None" %}
                    <div class="row">
                        <p><b>Sample Code :</b></p>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns" style="background-color: #e6e6e6;">
                            <pre style="font-size: 14px; height: 600px;">{{ each_article.articleData.codePart|safe }}</pre>
                        </div>
                    </div>
                {% endif %}
                <br>
                <div class="row">
                    <div class="large-12 small-12 columns">
                        {% if each_article.votesData.isVoted %}
                            <p class="text-center" style="color: green">Your vote is recoreded.</p>
                        {% else %}
                            <a class="button primary vote-for-the-article" data-article-id="{{ each_article.articleData.id }}">VOTE IF IT IS HELPFUL</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="large-2 small-2 columns">
            <table>
                <tbody>
                <tr>
                    <th>
                        Top Tags
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'modals.html' %}
{% endblock main_content %}
{% block javascript %}
    <script src="{% static 'js/loginPageManagement/userLogin.js' %}"></script>
    <script src="{% static 'js/articleManagement/articlePage.js' %}" type="text/javascript"></script>
{% endblock javascript %}