body, h1, h2, h3, h4, h5, h6, p, li, a, div{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.get-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.get-title-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.article-title{
    font-size: 25px;
    text-decoration: underline;
}

.article-sub-title {
    font-size: 20px;
}

li{
    float: left;
    padding: 30px 40px;
}

.article-code-part{
    background-color: #e6e6e6;
    font-size: 55px;
}

.article-editor{
    height: 200px!important;
}

ul li a{
    color: black;
}

.code-editor pre{
    height: 200px!important;
}

.set-height{
    margin-top: 30px;
}

/* admin site css starts here..*/


.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

